<section class="section-exit-strategy">
    <div class="container-fluid">
        <div class="row">
            <div class="component-exit-strategy d-flex">
                <div class="item-description-button col-md-6">
                    <h2>Descubre tu próximo gran talento</h2>
                    <p>En nuestra plataforma, te ofrecemos la oportunidad de aprender y crecer en el mundo de la
                        tecnología.
                        Con cursos diseñados por expertos, podrás adquirir las habilidades necesarias para
                        destacar en tu carrera.</p>
                    <p><strong>¡Empieza hoy y transforma tu futuro!</strong></p>
                </div>
                <div class="item-image col-md-6">
                    <img src="https://media.istockphoto.com/id/2161721546/photo/smart-industry-control-concept.jpg?s=1024x1024&w=is&k=20&c=4xj-DH2Dj6tGLsPUMsX_LGbJKD_DtCMOZ0m2_hiGwwM="
                        alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-card-courses">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-5">
                <h2 class="text-center">Cursos Disponibles</h2>
                <p class="text-center">Explora nuestra amplia gama de cursos diseñados para ayudarte a alcanzar tus
                    metas.</p>
            </div>
        </div>
        <div class="row card-row">
            @for (course of courses(); track $index) {
            <div class="col-md-4 mb-4">
                <div class="card h-100 border-info " style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{course.name}}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{course.level}}</h6>
                        <p class="card-text">{{course.description}}</p>
                        <div class="card-duration-price">
                            <span class="card-text"><strong>{{course.duration}}</strong></span>
                            <span class="card-text"><strong>{{course.price | currency}}</strong></span>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</section>