<section class="section-exit-strategy">
    <div class="container-fluid">
        <div class="row">
            <div class="component-exit-strategy d-flex">
                <div class="item-description-button col-md-6">
                    <h2>Descubre tu próximo gran talento</h2>
                    <p>En nuestra plataforma, te ofrecemos la oportunidad de aprender y crecer en el mundo de la
                        tecnología. 
                        Con cursos diseñados por expertos, podrás adquirir las habilidades necesarias para
                        destacar en tu carrera.</p>
                    <p><strong>¡Empieza hoy y transforma tu futuro!</strong></p>
                </div>
                <div class="item-image col-md-6">
                    <img src="https://media.istockphoto.com/id/2161721546/photo/smart-industry-control-concept.jpg?s=1024x1024&w=is&k=20&c=4xj-DH2Dj6tGLsPUMsX_LGbJKD_DtCMOZ0m2_hiGwwM="
                        alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-5">
                <h2 class="text-center">Cursos Disponibles</h2>
                <p class="text-center">Explora nuestra amplia gama de cursos diseñados para ayudarte a alcanzar tus
                    metas.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card h-100" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Name</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Level</h6>
                        <p class="card-text">Description</p>
                        <div class="d-flex justify-content-between">
                            <span class="card-text"><strong>Duration</strong></span>
                            <span class="card-text"><strong>Price</strong></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-4 mb-4" *ngFor="let course of courses">
                <div class="card h-100">
                    <img src="{{course.image}}" class="card-img-top" alt="{{course.title}}">
                    <div class="card-body">
                        <h5 class="card-title">{{course.title}}</h5>
                        <p class="card-text">{{course.description}}</p>
                        <p class="card-text"><strong>Instructor:</strong> {{course.instructor}}</p>
                        <p class="card-text"><strong>Duración:</strong> {{course.duration}}</p>
                        <p class="card-text"><strong>Precio:</strong> {{course.price | currency}}</p>
                        <a [routerLink]="['/course', course.id]" class="btn btn-primary">Ver Detalles</a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>