.carousel-banner-component .carousel.slide .carousel-inner .carousel-item {
    position: relative;
    padding-bottom: 10px;
}

.carousel-banner-component .carousel.slide .carousel-inner .carousel-item .carousel-item-card {
    position: absolute;
    top: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(72, 73, 72, 0.363), 0 4px 12px rgba(6, 17, 118, 0.625);
    padding: 2.4rem 38.4px;
    inline-size: 28rem;
    inset-inline-start: 1.8rem;
    inset-block-start: 4.4rem;
    background-color: white;
}
.section-exit-strategy{
    margin: 50px 0;
}
.section-exit-strategy .component-exit-strategy{
    box-shadow: 0 2px 4px rgba(72, 73, 72, 0.262), 0 4px 12px rgba(6, 17, 118, 0.469);
    padding: 0 50px;
    border-radius: 5px;
}

.section-exit-strategy .component-exit-strategy .item-image img{
    width: 100%;
    padding: 10px 0;
}
.section-exit-strategy .component-exit-strategy .item-description-button{
    display: block;
    margin: auto 0;
    padding-left: 40px;
}