<section class="carousel-banner-component">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carousel-item-image">
                    <img src="https://img-c.udemycdn.com/notices/web_carousel_slide/image/6ddba6b6-3e71-4b0f-a825-d76977d3d6a4.png"
                        class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item-card">
                    <h2>Academia de Ciencia de Datos</h2>
                    <p>Domina el análisis de datos y transforma la información</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-item-image">
                    <img src="https://img-c.udemycdn.com/notices/web_carousel_slide/image/6caba229-b963-4af8-84b8-f71693be2507.jpg"
                        class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item-card">
                    <h2>Escuela de desarrollo web</h2>
                    <p>Conviértete en el profesional que las empresas están buscando</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-item-image">
                    <img src="https://img-c.udemycdn.com/notices/featured_carousel_slide/image/3c236509-a2a2-4d7d-a448-2fedc8a2d3fc.jpg"
                        class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item-card">
                    <h2>Escuela de programación</h2>
                    <p>Aprende la competencia más demandada del mercado</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">

            <div class="col-sm-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text "><i class="bi bi-javascript" style="font-size: 2rem; color: #000;"></i></p>
                        <p class="card-text">Aprende cómo JavaScript da vida a la web con funciones interactivas y
                            ejemplos
                            prácticos y fáciles de aplicar.</p>
                    </div>
                </div>

            </div>
            <div class="col-sm-6 col-lg-3">

                <div class="card">
                    <div class="card-body">
                        <p class="card-text "><i class="bi bi-universal-access-circle"
                                style="font-size: 2rem; color: #000;"></i></p>
                        <p class="card-text">Descubre prácticas clave para que tu sitio sea accesible a todos, sin
                            importar sus
                            habilidades o recursos.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">

                <div class="card">
                    <div class="card-body">
                        <p class="card-text "><i class="bi bi-android2" style="font-size: 2rem; color: #000;"></i></p>
                        <p class="card-text">Inicia en el desarrollo Android creando apps móviles con Java o Kotlin
                            desde los
                            conceptos más básicos.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">

                <div class="card">
                    <div class="card-body">
                        <p class="card-text "><i class="bi bi-person-circle" style="font-size: 2rem; color: #000;"></i>
                        </p>
                        <p class="card-text">Mejora tu bienestar, fortalece tu mentalidad y alcanza tus metas con
                            hábitos que transforman tu vida.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-exit-strategy">
    <div class="container">
        <div class="row">
            <div class="component-exit-strategy d-flex">
                <div class="item-image">
                    <img src="https://eduport.webestica.com/assets/images/courses/4by3/17.jpg" alt="">
                </div>
                <div class="item-description-button">
                    <h2>Descubre tu próximo gran talento</h2>
                    <p>Explora nuestra selección de cursos online y aprende a tu ritmo.<br>
                        Desde programación hasta desarrollo personal, tenemos todo lo que necesitas para dar el
                        siguiente paso en tu camino. </p>
                    <p>¡Empieza hoy y transforma tu futuro!</p>
                    <button class="btn btn-warning" [routerLink]="['/courses']">Ingresar aquí</button>
                </div>
            </div>
        </div>
    </div>
</section>