<div class="container-fluid">
    <h3>Formulario tareas</h3>
    <!--Begin form-->
    <form action="" class="form" [formGroup]="form" (ngSubmit)="handleSubmit()">
        <div class="mb-3">
            <h5>Nombre</h5>
            <input type="text" name="name" formControlName="name">
            @if (form.controls.name.hasError('required')) {
                <p style="color: red;">Nombre es requerido</p>
            }
            @if (form.controls.name.hasError('minlength')) {
                <p style="color: red;">Minimo longitud de 2</p>
            }
            @if (form.controls.name.hasError('maxlength')) {
                <p style="color: red;">Máximo longitud de 20</p>
            }
        </div>
        <div class="mb-3">
            <h5>Prioridad</h5>
            <input type="radio" name="priority" [value]="priorityEnum.LOW" formControlName="priority" >Baja
            <input type="radio" name="priority" [value]="priorityEnum.MEDIUM" formControlName="priority"> Media
            <input type="radio" name="priority" [value]="priorityEnum.HIGH" formControlName="priority" > Alta 
        </div>
        <div class="mb-3">
            <h5>Descripción</h5>
            <textarea name="description" cols="30" rows="10" formControlName="description"></textarea>
            @if (form.controls.description.hasError('required')) {
                <p style="color: red;">Descripción es requerido</p>
            }
            @if (form.controls.description.hasError('minlength')) {
                <p style="color: red;">Minimo longitud de 5</p>
            }
            @if (form.controls.description.hasError('maxlength')) {
                <p style="color: red;">Máximo longitud de 120</p>
            }
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="form.invalid">
            Enviar
        </button>
    </form>
    <!--ebd form-->
</div>